body {
	font-family: "Segoe UI", sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #f2f2f2; 
}

/* Header */

header {		
    padding-bottom: 20em;
    text-align: center;
    background: #1abc9c;
	color: white;
	max-height: 20em;
}

header h1 {
	margin-top: 5em;
	margin-bottom: 0;
	font-size: 3.2em;
	letter-spacing: 3px;
}

header h2 {
	margin-top: 0.00em;
	font-size: 1.5em;
	letter-spacing: 1px;
}

header h3 {
	margin-top: 0.00em;
	font-size: 1em;
	letter-spacing: 1px;
}

.buy-button {
	background-color: #f6ba65;
    border: none;
    color: white;
    text-align: center;
	text-decoration: none;
	text-transform: uppercase;
    display: inline-block;
	font-weight: 600;
	padding: 14px 28px;
    cursor: pointer;
}

ul {
	padding: 0;
	list-style: none;
}

navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #232a3f;
	height: 50px;	
}

.brand {
	float: left;
	margin-left: 1em;
	margin-right: 15em;
}

.brand img {
	width: 200px;
}

.search-bar {
	margin-right: auto;
	margin-left: auto;
}

.search-bar input {
	float: left;
	width: 25em;
	box-sizing: border-box;
	border: 1px solid white;
	border-radius: 3px 0px 0px 3px;
    font-size: 14px;
    background-color: white;
    padding: 10px 18px 10px 10px;
}

.search-bar button {
	float: left;
    width: 5em;
    padding: 8px 10px 8px 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid white;
	border-left: none;
	border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}

.search-bar button:hover {
	background-color: #0b7dda;
	transition: 1s;
}

.navigation {
	display: flex;
}

.navigation li {    
    font-size: 1em;
}

.navigation li a {
	display: block;
	text-align: center;
	padding: 15px 14px;
	text-decoration: none;
	color: white;
}

.navigation li a:hover {
	background-color: #f6ba65;
	transition: 0.5s;
}

.nav-active {
	background-color: #f6ba65;
}

.welcome-message {
	width: 100%;
	display: block;
	color: #fff;
	float: right;
	background-color: #232a3f;
	height: 30px;
	margin-top: 100px;
}

.hero-image {
	background: url('images/TFA-HeroBanner.jpg') ;
	height: 50%;
	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;
	position: relative;
}

.hero-text {
	margin-left: auto;
	margin-right: auto;
	color: white;
}

.hero-text button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 10px 25px;
	color: black;
	background-color: #ddd;
	text-align: center;
	cursor: pointer;
}
  
.hero-text button:hover {
	background-color: #555;
	color: white;
}

/* Content */

.f-movie {	
	padding: 20px;
	display: flex;
	flex-direction: column;
	background-color: #f2f2f2;
}

.f-movie-heading {
	display: block;
}

.latest-movies {
	width: 80%; 
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.f-movie-container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
   	flex-wrap: wrap;
   	justify-content: center;
   	align-items: stretch;
}

.f-movie-card {
	background-color: #fff;
	border-radius: 10px;
	margin: 10px;
	overflow: auto;
	flex: 0 0 500px;
	overflow: hidden;
}

.f-movie-card-container {
	padding: 10px 10px;
}

.f-movie-card-container a {
	text-decoration: none;
	color: #000;
}

.f-movie-card-container h2{
	font-weight: 500;
	margin: 0px;
	margin-bottom: 1%;
	padding: 0px;
}

.f-movie-card-container p {	
	margin: 0px;
	margin-bottom: 1%;
	padding: 0px;
}

.f-movie-card-container p.classifruntime {	
	margin: 0px;
	margin-bottom: 3%;
	padding: 0px;
}

.f-movie-card img {
	float: left;
	margin-right: 3%;
	max-height: 300px;
	overflow: hidden;
}

.movie-label {
	display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-G {
    background-color: #5cb85c;
}

.label-PG {
    background-color: #f0ad4e;
}

.label-PG-13 {
    background-color: #337ab7;
}

.label-R {
    background-color: #1a1a1a;
}

.label-TV-14 {
    background-color: #337ab7;
}

.label-TV-MA{
    background-color: #d9534f;
}

.label-UNRATED {
    background-color: #1a1a1a;
}

.label-N\/A {
    background-color: #1a1a1a;
}

.label-NOT\ RATED {
    background-color: #1a1a1a;
}

.movie-current-page-container {
	
	display: block;
}

.movie-current-page {
	width: 80%; 
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.movie-current-page a{	
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

/* View Movie */

.view-movie-container {
	max-width: 950px;
	background-color: #fff;
	padding: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border-radius: 8px;
}

.view-movie-container table {
    border-collapse: collapse;
    width: 100%;
}

.view-movie-container th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.view-movie-container tr:hover {
	background-color:#f5f5f5;
}

.view-movie-container tr td a {
	text-align: center;
	font-size: 14px;
	text-decoration: none;
    background-color: #FFCC82;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	float: right;
}

.view-movie-container tr td a:hover {
	background-color: #FFD69B;    
}

.view-slist-container {
	max-width: 95%;
	background-color: #fff;
	padding: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border-radius: 8px;
}

.view-slist-container h1 {
	float: left;
	margin: 0px;
	padding: 0px;
}

.view-slist-container a {
	float: right;
	margin-bottom: 50px;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
    background-color: #FFCC82;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.view-slist-container table {
    border-collapse: collapse;
    width: 100%;
}

.view-slist-container th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.view-slist-container tr:hover {
	background-color:#f5f5f5;
}

.view-slist-container tr td a {
	text-align: center;
	font-size: 14px;
	text-decoration: none;
    background-color: #FFCC82;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	float: right;
}

.view-slist-container tr td a:hover {
	background-color: #FFD69B;    
}

.view-slist-container tr td a.slist-table-link {
	font-size: 14px;
	text-decoration: none;
    background-color: #FFCC82;
    color: white;
    padding: 5px 10px;
    border: none;
	border-radius: 4px;
    cursor: pointer;
    float: left;
    margin: 0px;	
}

.view-slist-container tr td a.slist-table-movie {
	font-size: 14px;
	text-decoration: none;
    background-color: #FFCC82;
    color: white;
    padding: 5px 10px;
    border: none;
	border-radius: 4px;
    cursor: pointer;
    float: left;
    margin: 0px;	
}

.view-movie-row {
	content: "";
    display: table;
    clear: both;
}

.view-movie-reviews-row {
	content: "";
    display: table;
	clear: both;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;	
}

.view-movie-section-image {
	float: left;
    width: 35%;
    margin-top: 6px;
}

.view-movie-section img {
	float: left;
}

.view-movie-section-info {
	float: left;
	width: 60%;
	padding-left: 15px;
    margin-top: 6px;
}

.view-movie-section-info-vsfix {
	float: right;
	padding-left: 15px;
    margin-top: 6px;
}

.view-movie-section-info-vsfix input{
	width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.view-movie-section-info-vsfix input[type=submit] {
	margin-top: 5px;
	background-color: #f6ba65;
    color: white;
    padding: 8px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	width: 20%;
}

.view-movie-section-info a {
	text-align: center;
	font-size: 14px;
	text-decoration: none;
    background-color: #FFCC82;
    color: white;
    padding: 6px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.view-movie-reviews {
	flex: 0 0 70%;
	display: block;
    margin-top: 6px;
}

.view-movie-reviews h4 {
	margin-bottom: 5px;
}

.view-movie-reviews img {
	height: 26px;	
}

/* Sign Up Page */

.signup-form-container {
	max-width: 850px;
	margin-top: 5em;
	margin-right: auto;
	margin-left: auto;
	border-radius: 15px;
    background-color: #fff;
	padding: 30px;
	box-sizing: border-box;
}

.signup-form-row:after {
	content: "";
    display: table;
    clear: both;
}

.signup-form-text {
	float: left;
    width: 25%;
    margin-top: 6px;
}

.signup-form-text label {
	padding: 12px 12px 12px 0;
    display: inline-block;
}

.signup-form-input {
	float: left;
    width: 75%;
    margin-top: 6px;
}

.signup-form-input input{
	width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.signup-form-input textarea{
	width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
	resize: vertical;
	height: 200px;
}

.signup-form-input select{
	width: 99%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
	resize: vertical;
}

.signup-form-input input[type=submit] {
	margin-left: 1em;
    background-color: #f6ba65;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	float: right;
	width: 20%;
}

.signup-form-input a {	
	text-align: center;
	font-size: 14px;
	text-decoration: none;
    background-color: #FFCC82;
    color: white;
    padding: 10px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	float: right;
	width: 20%;
}

.signup-form-input a:hover {	
	text-align: center;
	font-size: 14px;
	text-decoration: none;
    background-color: #f6ba65;
    color: white;
    padding: 10px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	float: right;
	width: 20%;
}

/* Report Page */

.questions {	
	padding: 20px;
	display: flex;
	flex-direction: column;
	background-color: #f2f2f2;
}

.questions-heading-container {
	display: block;
}

.questions-heading {
	width: 80%; 
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.questions-container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
   	flex-wrap: wrap;
   	justify-content: center;
   	align-items: stretch;
}

.questions-card {
	background-color: #fff;
	border-radius: 10px;
	margin: 10px;
	overflow: auto;
	flex: 0 0 500px;
	overflow: hidden;
}

.questions-card-container {
	padding: 10px 10px;
}

.questions-card-container h2{
	font-weight: 500;
	margin: 0px;
	margin-bottom: 1%;
	padding: 0px;
}

.questions-card-container p {	
	margin: 0px;
	margin-bottom: 1%;
	padding: 0px;
	line-height: 1.6;
}

.questions-card-container a {	
	color: #f6ba65;
	text-decoration: none;
	margin: 0px;
	margin-bottom: 1%;
	padding: 0px;
	line-height: 1.6;
}

.questions-card-container a:hover {	
	
	text-decoration: underline;
}
	